body {
  margin: 0;
}

.text1 {
  text-align: center;
}

.admin-menu {
  margin: 0;
  position: relative;
  bottom: 85px;
  left: 20px;
}

.admin-profile-picture {
  height: 120px;
  position: relative;
  bottom: 80px;
  left: 40px;
}

.admin-name {
  position: relative;
  bottom: 100px;
  left: 45px;
}

.layout-utama {
  background-color: #0080FF;
  width: 280px;
  min-height: 100vh;
}

pre {
  color: #FFFF;
}

.admin-option {
  color: #FFFF;
  list-style: none;
  position: relative;
  left: 15px;
}

h1 {
  color: ##38bdf8;
}

a {
  text-decoration: none;
  color: #FFFF;
}