.text1 {
  text-align: center;
}

.admin-section {
  position: relative;
  bottom: 85px;
  left: 20px;
}

.admin-profile {
  height: 120px;
  position: relative;
  bottom: 80px;
  left: 40px;
}

.admin-name {
  position: relative;
  bottom: 100px;
  left: 45px;
}

.layout-utama {
  background-color: #0080FF;
  width: 280px;
  min-height: 10vh;
}

.admin-option {
  color: #FFFF;
  list-style: none;
  position: relative;
  left: 15px;
}

h1 {
  color: #808080;
}